
<div class="row meals-background">
    <h2>Edit Your Profile</h2>
    <div class="signup-form width">
        <%= form_for(@user) do |f| %>
            <p><%= f.label :firstName %></p>
            <p><%= f.text_field :firstName %></p>
            
            <p><%= f.label :lastName %></p>
            <p><%= f.text_field :lastName %></p>
            
            <p><%= f.label :address1 %></p>
            <p><%= f.text_field :address1 %></p>
            
            <p><%= f.label :address2 %></p>
            <p><%= f.text_field :address2 %></p>
            
            <p><%= f.label :town %></p>
            <p><%= f.text_field :town %></p>
            
            <p><%= f.label :eircode %></p>
            <p><%= f.text_field :eircode %></p>
            
            <p><%= f.label :email %></p>
            <p><%= f.email_field :email %></p>
            
            <p><%= f.label :password %>
            <%= f.password_field :password %>
            
            <%= f.label :password_confirmation, "Confirmation" %>
            <%= f.password_field :password %></p>
            
            <p><%= f.submit "Save changes", class: "mybtn mybtn-ghost mybtn-large" %></p>
        <% end %>
    </div>
</div>
