
<div class="row meals-background">
    
    <div class="signup-form width">
       <h2>Sign Up</h2>
        <%= form_for(@user) do |f| %>
            <%= f.label :firstName %>
            <%= f.text_field :firstName %>
            
            <%= f.label :lastName %>
            <%= f.text_field :lastName %>
            
            <%= f.label :address1 %>
            <%= f.text_field :address1 %>
            
            <%= f.label :address2 %>
            <%= f.text_field :address2 %>
            
            <%= f.label :town %>
            <%= f.text_field :town %>
            
            <%= f.label :eircode %>
            <%= f.text_field :eircode %>
            
            <%= f.label :email %>
            <%= f.email_field :email %>
            <br> <br>
            <%= f.label :password %>
            <%= f.password_field :password %>
            
             <%= f.label :password_confirmation, "Confirmation" %>
            <%= f.password_field :password %>
            <br> <br>
            <%= f.submit "Create my account", class: "mybtn mybtn-ghost mybtn-large" %>
        <% end %>
    </div>
</div>

