
<div class="container meals-background login">
    <div class="login-box">
    <h2><%= @user.firstName %> <%= @user.lastName %> </h2>
    <p><%= @user.address1 %></p>
    <p><%= @user.address2 %></p>
    <p><%= @user.town %>, <%= @user.eircode %></p>
    <p><%= @user.email %></p>
    </div>
</div>