
<div class="profile">
    <h1><%= @user.firstName %> <%= @user.lastName %> </h1>
    <p><%= @user.address1 %></p>
    <p><%= @user.address2 %></p>
    <p><%= @user.town %>, <%= @user.eircode %></p>
    <p><%= @user.email %></p>
</div>