<div>
  <div class="row">
    <div class="col-xs-8">
      <h4><%= product.name %></h4>
    </div>
    <div class="col span-1-of-4">

      <%= form_for order_item, remote: true do |f| %>
      <h4 >Meal Price: <%= number_to_currency product.price %></h4>
        <div>
          <%= f.number_field :quantity, value: 1, min: 1 %>
          <%= f.hidden_field :product_id, value: product.id %>
          <%= f.submit "Buy", class: "mybtn mybtn-ghost mybtn-small" %>
        </div>
      <% end %>
    </div>
  </div>
<!--</div>-->
