
<!DOCTYPE html>
<html>
  <head>
    <title>Foodie</title>
    <link rel="stylesheet" href="/assets/ionicons.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,200,300,400" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
    <header> 
        <nav>
            <div class="container">
                <ul class="main-nav">
                    <li><%= link_to "Home", home_path %></li>
                    <li><%= link_to "Meals", menus_path %></li>
                    <li><a href="/home#contact">Contact</a></li>
                    <% if logged_in? %>
                        <li><%= link_to "Profile", current_user %></li>
                        <li><%= link_to "Settings", edit_user_path(current_user) %></li>
                        <li><%= link_to "Log out", logout_path, method: :delete %></li>
                    <% else %>
                        <li><%= link_to "Log In", login_path %></li>
                    <% end %>
                </ul>
            </div>
            
        </nav>
        
        <%= yield %>
    <footer>
        <div class="container">
            <p>Copyright &copy; 2018 by Foodie.ie. All rights reserved.</p>
        </div>
    </footer>
        
  </body>
</html>


